*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;
}
.left-div, .middle-div{
    display: flex;
    align-items: center;
}
.navbar{
    padding: 1.5rem 8rem 1.5rem 13rem ;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}
ul{
    list-style-type: none;
    text-align: center;
    display: block;

}
li{
    display: block;
    color: #c7d2d3;
    cursor: pointer;
}
.navbar li{
    display:inline-block;
    margin: 0 15px;
    color: #95a5a6;
    font-size: 1.1rem;
}
.navbar li:hover{
    cursor: pointer;
}
.navbar li:hover::before{
    display: block;
    content: "";
    width: 100%;
    height: 3px;
}
.navbar li:hover{
    border-bottom: 3px solid ;
    border-image: linear-gradient(to left, #2ab6d9, #30d35c) 1;
}

.navbar img{
    display: inline-block;
    height: 1.5rem;
    width: auto;
}
.right-div>button{
    width: 110%;
}
.nav-button{
    background:linear-gradient(90deg, rgba(44,222,68,0.9447129193474265) 0%, rgba(39,207,185,0.9026961126247374) 39%, rgba(35,194,179,1) 100%);
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    font-weight: 400;
}
/* hero header*/
.main-div{
    padding: 2.2rem 13rem ;
    display: flex;
    justify-content: space-between;
}
.heading{
    flex-basis: 50%;
}
.heading h1{
    font-size: 4rem;
    font-weight: 400;
    margin-top: 8rem;
    color: #2D314D;
}
.heading h2{
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
    color: #95a5a6;
    width: 90%;
    line-height: 1.6;
}
.heading button{
    margin-bottom: 9rem;
    width: 35%;
}
.hero{
flex-basis: 50%;
}
.background{
    transform: translate(-5rem,-18.3rem);
}
.mockups{
    transform: translate(7.8rem, -10rem);
}
.mockups, .background{
    position: absolute;
    z-index: -1;
}


/* ****************************Middle Section****************************** */
.middle{
    background-color: #f4f5f7;
    padding: 2.2rem 13rem ;
    position: relative;
    z-index: -2;

}
.middle h1{
    color: #2D314D;
    font-size: 3.2rem;
    font-weight: 300;
    margin-top: 5rem;
}
.middle>h2{
     font-size: 1.2rem;
    font-weight: 400;
    color: #95a5a6;
    line-height: 1.6;
    width: 65%;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.feature-div{
    display: flex;
    width: 109%;
    margin-bottom: 5rem;
    justify-content: space-between;
}
.features{
    margin-right: 2rem;

}
.features>p{
    color:#95a5a6;
    font-size: 1rem;
    line-height: 1.6;
}
.features>h2{
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: 400;
}
/*****************************Articles Section**********************/
.latest-articles{
    padding-left: 13rem;
    padding-right: 6rem;
    padding-top: 3rem;
}
.latest-articles h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 3rem 0;
}
.articles{
    display: flex;
    /* flex-wrap: nowrap; */
}
.article img{
    width: 250px;
    height: 190px;
    border-radius: 5px 5px 0 0;
    transition: transform .4s ease;
}
.article img:hover{
    transform: scale(1.1);
    transition: transform .5s ease;
    cursor: pointer;
}
.article-container{
    width: 80%;
    margin: auto;
}

.article-container h3{
    transition: color .1s ease;
}
.article-container h3:hover{
    color: #27ce96;
    cursor: pointer;
    transition: color .2s ease;
}
.articles h6, .articles p{
    color: #95a5a6;
}
.articles h6{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.articles h3{
    font-weight: 300;
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: .8rem;
}
.articles p{
    font-size: .9rem;
    margin-right: 1rem;
    line-height: 1.3;
}
/****************************Footer Section************************/
footer{
    background-color: #2D314D;
    margin-top: 6rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-left: 13rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
}
.left, .right{
    flex-grow: 1;
}
.left{
    display: flex;
}
.left>div{
    margin-right: 5rem;
    margin-top: 1rem;
}
.left ul{
    margin-top: .3rem;
}
.left div ul li{
    margin-bottom: 1.4rem;
}
.left div ul li:hover{
    color: #30d35c;
    cursor: pointer;
}
.social-media{
    margin-top: 4rem;
}
.social-media svg{
    margin-right: .5rem;
    cursor: pointer;
}
.social-media svg:hover path{
    fill: #36db62;
}
.right{
    margin-top: 1rem;
    margin-right: 9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.right button{
    margin-bottom: 2rem;
    width: 48%;
}
.right p{
    color: #95a5a6;
}
.attribution{
    padding-bottom: 1rem;
}
.attribution p{
    text-align: center;
    color: #c7d2d3;
}
.attribution a{
    color: #5b629b;
}
